 body 
{
  overflow-y:scroll
  background: #fafafa;
}

.commands
{
  float:left;
}

.divider 
{
  height: 2px;
  clear: both;
  /* background-color: #D5CF8E;  */
} 

#canvas
{
  border:2px solid;
  float:left;
}

#status
{
  width:800px;
  height:100px; 
}

p 
{
  margin-bottom: .4em;
  margin-top: .4em;
  margin-left: 1em;
}